/**
 * Colors
 */
$orange-light: #ffab00;
$purple-default: #6554c0;
$green-default: #5fc323;
$orange-default: #ff5630;
$background: #e5e5e5;
$black: #000000;
$white: #ffffff;
$seashell-grey: #f1f1f1;

#ta-chart-container {
  &.pan {
    cursor: move;
  }
}

.ta-chart-specs-container {
  background-color: $background;
  &.row {
    margin-left: 0;
    margin-right: 0;
  }
}

.ta-chart-controls,
.ta-chart-conventions {
  background-color: $white;
  width: 124px;
  height: 40px;
  padding: 12px;
  margin-top: 24px;
  border: 1px solid $seashell-grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.ta-chart-controls {
  margin-left: 15px;
  padding-left: 1px;
  img {
    cursor: pointer;
  }
}

.ta-chart-conventions {
  margin-left: 16px;
  width: 486px;
  .ta-chart-convention-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    div {
      width: 15px;
      height: 15px;
    }
    span {
      font-size: 12px;
      line-height: 16px;
      color: $black;
      margin-left: 5px;
    }
    &.yellow div {
      background-color: $orange-light;
    }
    &.violet div {
      background-color: $purple-default;
    }
    &.green div {
      background-color: $green-default;
    }
    &.red div {
      background-color: $orange-default;
    }
  }
}

#ta-chart-container {
  background-color: $background;
  width: 100%;
  height: 100%;
  svg {
    width: 100%;
    height: 100%;
  }
}
