@import 'src/styles/variables';

ta-security-risks {
  display: block;
  .security-risks-wrapper {
    min-height: calc(100vh - 167px);
    overflow: visible;
    .card-header {
      height: 81px;
      max-height: 81px;
    }
    .header-text {
      font-size: $font-size-16;
      font-weight: 600;
    }
    .sub-header-text {
      font-size: $font-size-14;
      color: $gray-800;
    }
    .input-other-wrapper {
      margin-top: 10px;
      .input-other {
        padding-top: 10px;
        padding-left: 18px;
      }
    }
    .security-controls-wrapper {
      min-height: 527px;
      overflow: visible;
      .card {
        position: inherit;
      }
    }
    .retention-period-wrapper {
      min-height: unset;
      overflow: visible;
      .card {
        position: inherit;
      }
      input {
        height: 32px;
      }
      .retention-period-value-default {
        width: 40%;
      }
      .retention-period-units-default {
        width: 55%;
      }
      .retention-period-units-other-default {
        width: 50%;
      }
      .retention-period-btn-clear-default {
        width: 5%;
      }
    }
  }
}
