@import 'src/styles/variables';

:host {
  display: block;
  .nav-header {
    display: flex;
    justify-content: space-between;
    .nav-title {
      h3 {
        font-size: 20px;
        line-height: 26px;
        padding-left: 20px;
      }
    }
  }
  .nav-header-bg-white {
    background-color: $white;
    box-shadow: 0 0 3px rgba(0, 21, 41, 0.05);
  }
  .col-3 {
    max-width: 200px;
    min-height: calc(100vh - 122px);
    z-index: 2;
  }
  .col-3-no-breadcrumb {
    max-width: 200px;
    min-height: calc(100vh - 72px);
    z-index: 2;
  }

  #content-container {
    min-height: calc(100vh - 162px);
    margin-bottom: -4px;
  }

  ta-breadcrumb {
    padding-bottom: 0 !important;
  }

  .breadcrumbs-hidden {
    #content-container {
      min-height: calc(100vh - 98px);
      margin-bottom: -4px;
    }
  }
}

/* THIS GROUP OF CSS (Z-INDEX) NEEDS TO BE REMOVED AS SOON THE UI TOOLKIT PAGINATION IS UPDATED */
:host ::ng-deep {
  ta-pagination {
    .page-item.active {
      a.page-link {
        z-index: 0;
      }
    }
  }
}

:host ::ng-deep {
  ta-breadcrumb {
    .breadcrumb-item {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
