@import 'src/styles/variables';

ta-data-flow-empty-state {
  .data-flow-empty-wrapper {
    display: flex;
    .image-container {
      width: 187px;
      height: 174px;
      background-color: $white;
      background-position-x: center;
      background-position-y: center;
      background-repeat: no-repeat;
      background-image: url('/assets/images/default-table-background.svg');
      z-index: 9;
    }
    .sub-image-text {
      font-size: $font-size-12;
      line-height: 16px;
      text-align: center;
      color: $gray-800;
      z-index: 10;
    }
  }
}
