<div id="build-data-flow-empty">
  <div class="data-flow-empty-wrapper p-3 pb-5 mb-2">
    <div class="w-100 row no-gutters">
      <div class="col">
        <div class="card">
          <div class="card-body justify-content-center">
            <div class="image-container m-auto"></div>
            <p class="sub-image-text mb-1">
              <!-- [i18n-tobeinternationalized] -->
              You have not added any systems yet.
            </p>
            <p class="sub-image-text mb-4">
              <!-- [i18n-tobeinternationalized] -->
              Go to
              <a
                href="#"
                (click)="
                  $event.preventDefault(); navigateDataflow('systems-selection')
                "
                >Systems Selection</a
              >
              first to add.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
